In [1]:
import pandas as pd
import re

import numpy as np

In [2]:
annual_d_r =  pd.read_csv('datasets/annual-number-of-deaths-by-cause.csv')

In [3]:
annual_d_r.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2932.558591,15924.782541,481.219817,392.942607,2126.788535,3657.205757,...,2438.567035,1199.0,53962.251859,4490.174240,7221.773068,3345.814979,6457.753476,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2730.846137,16147.839026,462.180576,254.703403,1973.375893,3784.702895,...,2230.538625,1092.0,54050.644196,4533.825139,7142.796656,3316.354776,6407.964590,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.186423,16382.558546,448.300264,239.035635,1852.155239,3874.099828,...,1997.531216,1065.0,53964.195557,4596.974422,7045.249090,3291.158847,6358.027600,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2326.767573,17093.515668,447.884354,390.060248,1774.968476,4169.873038,...,1805.467089,1525.0,54347.266593,4784.629776,6915.563606,3317.891662,6370.000383,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.492968,17521.930189,445.226412,93.894201,1715.864705,4244.671108,...,1666.898963,3521.0,54868.120368,4845.667028,6877.511217,3352.846566,6398.171770,2264.0,1544.0,482.0

In [4]:
#rename columns name
annual_d_r.rename(columns={'Entity':'country', 'Code':'code', 'Year':'year',
       'Number of executions (Amnesty International)':'number_of_executions',
       'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)':'meningitis',
       'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)':'neoplasms',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)':'fire_heat_hot_substances',
       'Deaths - Malaria - Sex: Both - Age: All Ages (Number)':'malaria',
       'Deaths - Drowning - Sex: Both - Age: All Ages (Number)':'drowing',
       'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)':'interpersonal_violence',
       'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)':'hiv_aids',
       'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)':'drug_use_disorders',
       'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)':'tuberculosis',
       'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)':'road_injuries',
       'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)':'maternal_disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)':'lower_respiratory_infection',
       'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)':'neonatal_disorder',
       'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)':'alcohol_use_disorders',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)':'force_of_nature',
       'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)':'diarrheal',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)':'environmental_heat_cold',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)':'nutritional_deficiencies',
       'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)':'self_harm',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)':'conflict_and_terrorism',
       'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)':'diabetes_mellitus',
       'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)':'poisoning',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)':'protein_energy_malnutrition',
       'Terrorism (deaths)':'terrorism',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)':'cardiovascular_diseases',
       'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)':'chronic_kidney_disease',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)':'chronic_respiratory_deasease',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)':'cirrohosis_liver_deasease',
       'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)':'digestive_disease',
       'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)':'acute_hepatitis',"Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)":"alzhimers_disease",
       "Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)":"parkinsons_disease"
       }, inplace = True)

In [5]:
annual_d_r.head()

,country,code,year,number_of_executions,meningitis,neoplasms,fire_heat_hot_substances,malaria,drowing,interpersonal_violence,...,protein_energy_malnutrition,terrorism,cardiovascular_diseases,chronic_kidney_disease,chronic_respiratory_deasease,cirrohosis_liver_deasease,digestive_disease,acute_hepatitis,alzhimers_disease,parkinsons_disease
0,Afghanistan,AFG,2007,15,2932.558591,15924.782541,481.219817,392.942607,2126.788535,3657.205757,...,2438.567035,1199.0,53962.251859,4490.174240,7221.773068,3345.814979,6457.753476,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2730.846137,16147.839026,462.180576,254.703403,1973.375893,3784.702895,...,2230.538625,1092.0,54050.644196,4533.825139,7142.796656,3316.354776,6407.964590,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.186423,16382.558546,448.300264,239.035635,1852.155239,3874.099828,...,1997.531216,1065.0,53964.195557,4596.974422,7045.249090,3291.158847,6358.027600,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2326.767573,17093.515668,447.884354,390.060248,1774.968476,4169.873038,...,1805.467089,1525.0,54347.266593,4784.629776,6915.563606,3317.891662,6370.000383,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.492968,17521.930189,445.226412,93.894201,1715.864705,4244.671108,...,1666.898963,3521.0,54868.120368,4845.667028,6877.511217,3352.846566,6398.171770,2264.0,1544.0,482.0

annual_d_r.isnull().sum()

In [100]:
annual_d_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8590 entries, 0 to 8589
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       8590 non-null   object
 1   code                          6206 non-null   object
 2   year                          8590 non-null   int64
 3   number_of_executions          267 non-null    object
 4   meningitis                    8220 non-null   float64
 5   neoplasms                     8220 non-null   float64
 6   fire_heat_hot_substances      8220 non-null   float64
 7   malaria                       8220 non-null   float64
 8   drowing                       8220 non-null   float64
 9   interpersonal_violence        8220 non-null   float64
 10  hiv_aids                      8220 non-null   float64
 11  drug_use_disorders            8220 non-null   float64
 12  tuberculosis                  8220 non-null   float64
 13  road_injuries                 8220 non-null   float64
 14  maternal_disorders            8220 non-null   float64
 15  lower_respiratory_infection   8220 non-null   float64
 16  neonatal_disorder             8220 non-null   float64
 17  alcohol_use_disorders         8220 non-null   float64
 18  force_of_nature               8220 non-null   float64
 19  diarrheal                     8220 non-null   float64
 20  environmental_heat_cold       8220 non-null   float64
 21  nutritional_deficiencies      8220 non-null   float64
 22  self_harm                     8220 non-null   float64
 23  conflict_and_terrorism        8220 non-null   float64
 24  diabetes_mellitus             8220 non-null   float64
 25  poisoning                     8220 non-null   float64
 26  protein_energy_malnutrition   8220 non-null   float64
 27  terrorism                     2891 non-null   float64
 28  cardiovascular_diseases       8220 non-null   float64
 29  chronic_kidney_disease        8220 non-null   float64
 30  chronic_respiratory_deasease  8220 non-null   float64
 31  cirrohosis_liver_deasease     8220 non-null   float64
 32  digestive_disease             8220 non-null   float64
 33  acute_hepatitis               8220 non-null   float64
 34  alzhimers_disease             8220 non-null   float64
 35  parkinsons_disease            8220 non-null   float64
dtypes: float64(32), int64(1), object(3)
memory usage: 2.4+ MB

#saving the renamed _data


annual_d_r.to_csv('datasets/renamed_data.csv')

In [6]:
#loading population data
total_p = pd.read_csv('datasets/WPP2019_TotalPopulationBySex.csv')
total_p.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486

In [7]:
#filtering data from 1990 to 2019
total_sub = total_p[(total_p['Time']>1989) & (total_p['Time']<2020)]

In [8]:
#loading country data
country = pd.read_excel('datasets/countries name.xlsx')

In [9]:
#showing random 5 data from country datasets
country.sample(5)

    country   latitude  longitude      name
105      IR  32.427908  53.688046      Iran
74       GD  12.262776 -61.604171   Grenada
163      NO  60.472024   8.468946    Norway
174      PK  30.375321  69.345116  Pakistan
136      MD  47.411631  28.369885   Moldova

In [10]:
# filtering by country 
population_all_countries= total_sub[total_sub['Location'].isin(country.name.unique().tolist())]

In [11]:
#dropping column latitude and longitude
population_all_countries = population_all_countries[['Location', 'PopTotal', 'Time']]

In [12]:
# first 5 data
population_all_countries.head()

       Location   PopTotal  Time
40  Afghanistan  12412.311  1990
41  Afghanistan  13299.016  1991
42  Afghanistan  14485.543  1992
43  Afghanistan  15816.601  1993
44  Afghanistan  17075.728  1994

In [16]:
#merging the data to main data by matching country name
annual_t_d__r = annual_d_r[annual_d_r['country'].isin(population_all_countries.Location.unique().tolist())]

In [17]:
#these countries didnt match the list
country[~country['name'].isin(annual_d_r.country.unique().tolist())]['name']

4                                          Anguilla
7                              Netherlands Antilles
9                                        Antarctica
14                                            Aruba
31                                    Bouvet Island
36                          Cocos [Keeling] Islands
39                                 Congo [Republic]
41                                    CÃ´te d'Ivoire
50                                 Christmas Island
52                                   Czech Republic
68                Falkland Islands [Islas Malvinas]
69                                       Micronesia
70                                    Faroe Islands
77                                         Guernsey
79                                        Gibraltar
86     South Georgia and the South Sandwich Islands
91                                       Gaza Strip
93                Heard Island and McDonald Islands
101                                     Isle of Man
103                  British Indian Ocean Territory
108                                          Jersey
121                                  Cayman Islands
126                                   Liechtenstein
140                               Macedonia [FYROM]
148                                      Montserrat
159                                  Norfolk Island
176                       Saint Pierre and Miquelon
177                                Pitcairn Islands
179                         Palestinian Territories
184                                         RÃ©union
195                                    Saint Helena
197                          Svalbard and Jan Mayen
204                           SÃ£o TomÃ© and PrÃ­ncipe
207                                       Swaziland
208                        Turks and Caicos Islands
210                     French Southern Territories
215                                     Timor-Leste
226                     U.S. Minor Outlying Islands
230                                    Vatican City
233                          British Virgin Islands
234                             U.S. Virgin Islands
241                                         Mayotte
Name: name, dtype: object

In [18]:
annual_d_r[ ~annual_d_r['country'].isin(population_all_countries.Location.unique().tolist())].country.unique()

array(['Africa', 'African Region', 'African Union', 'America',
       'Andean Latin America', 'Asia', 'Australasia',
       'Australasia & Oceania', 'Bolivia', 'Bosnia-Herzegovina', 'Brunei',
       'Cape Verde', 'Caribbean', 'Central America & Caribbean',
       'Central Asia', 'Central Europe',
       'Central Europe, Eastern Europe, and Central Asia',
       'Central Latin America', 'Central sub-Saharan Africa',
       'Commonwealth', 'Commonwealth High Income',
       'Commonwealth Low Income', 'Commonwealth Middle Income',
       "Cote d'Ivoire", 'Czechia', 'Czechoslovakia',
       'Democratic Republic of Congo', 'East Asia', 'East Asia & Pacific',
       'East Asia & Pacific - WB', 'East Germany (GDR)', 'East Timor',
       'Eastern Europe', 'Eastern Mediterranean Region',
       'Eastern sub-Saharan Africa', 'England', 'Eswatini', 'Europe',
       'Europe & Central Asia', 'Europe & Central Asia - WB',
       'European Region', 'European Union', 'Four World Regions', 'G20',
       'High SDI', 'High-income', 'High-income Asia Pacific',
       'High-income North America', 'High-middle SDI', 'Hong Kong',
       'International', 'Kosovo', 'Laos', 'Latin America & Caribbean',
       'Latin America & Caribbean - WB', 'Latin America and Caribbean',
       'Low SDI', 'Low-middle SDI', 'Macau', 'Micronesia (country)',
       'Middle East & North Africa', 'Middle East & North Africa - WB',
       'Middle SDI', 'Moldova', 'Nordic Region',
       'North Africa and Middle East', 'North America', 'North Korea',
       'North Macedonia', 'Northern Ireland', 'OECD Countries', 'Oceania',
       'Palestine', 'Region of the Americas', 'Sao Tome and Principe',
       'Scotland', 'Serbia-Montenegro', 'South America', 'South Asia',
       'South Asia - Not WB', 'South Asia - WB', 'South Korea',
       'South Sudan', 'South-East Asia Region', 'Southeast Asia',
       'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
       'Southern sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa - Not WB', 'Sub-Saharan Africa - WB', 'Syria',
       'Taiwan', 'Tanzania', 'Timor', 'Tropical Latin America', 'USSR',
       'United States Virgin Islands', 'Vietnam', 'WHO region', 'Wales',
       'Wallis and Futuna', 'West Germany (FRG)', 'Western Europe',
       'Western Pacific Region', 'Western sub-Saharan Africa', 'World',
       'World (excluding China)', 'World Bank High Income',
       'World Bank Income Levels', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Regions',
       'World Bank Upper Middle Income', 'Yugoslavia', 'Zaire'],
      dtype=object)

In [19]:
#rename the columns name
population_all_countries.rename(columns = {'Time':'year', 'Location':'country'}, inplace = True )

In [20]:
# merging data by country and year
df = pd.merge(annual_t_d__r, population_all_countries, on = ['country', 'year'])

In [21]:

df.country.nunique()

188

we have 188 countries data of death by desease

In [22]:
df.shape

(5469, 37)

There are 5469 rows and 37 columns of data

In [23]:
#loading data of gdp
gdp = pd.read_csv('datasets/gdp-per-capita-worldbank.csv')

In [24]:
gdp.drop(columns = 'Code', inplace = True)

In [25]:
gdp.columns = ['country', 'year', 'gdp-per-capita']

In [26]:
gdp.head()

       country  year  gdp-per-capita
0  Afghanistan  2002     1189.784668
1  Afghanistan  2003     1235.810063
2  Afghanistan  2004     1200.278013
3  Afghanistan  2005     1286.793659
4  Afghanistan  2006     1315.789117

In [27]:
# merging the gdp data with main
df_gdp = pd.merge(df, gdp,how = 'left',  on = ['country','year'])

In [28]:
df_gdp.shape

(5469, 38)

In [29]:
df_gdp.isnull().sum()

country                            0
code                               0
year                               0
number_of_executions            5253
meningitis                         9
neoplasms                          9
fire_heat_hot_substances           9
malaria                            9
drowing                            9
interpersonal_violence             9
hiv_aids                           9
drug_use_disorders                 9
tuberculosis                       9
road_injuries                      9
maternal_disorders                 9
lower_respiratory_infection        9
neonatal_disorder                  9
alcohol_use_disorders              9
force_of_nature                    9
diarrheal                          9
environmental_heat_cold            9
nutritional_deficiencies           9
self_harm                          9
conflict_and_terrorism             9
diabetes_mellitus                  9
poisoning                          9
protein_energy_malnutrition        9
terrorism                       3228
cardiovascular_diseases            9
chronic_kidney_disease             9
chronic_respiratory_deasease       9
cirrohosis_liver_deasease          9
digestive_disease                  9
acute_hepatitis                    9
alzhimers_disease                  9
parkinsons_disease                 9
PopTotal                           0
gdp-per-capita                   590
dtype: int64

In [30]:
df_gdp.to_csv('all_combined_annual_death_by_cause.csv', index= False)

In [31]:
df = pd.read_csv('all_combined_annual_death_by_cause.csv')

In [32]:
df.isnull().sum()/len(df)*100

country                          0.000000
code                             0.000000
year                             0.000000
number_of_executions            96.050466
meningitis                       0.164564
neoplasms                        0.164564
fire_heat_hot_substances         0.164564
malaria                          0.164564
drowing                          0.164564
interpersonal_violence           0.164564
hiv_aids                         0.164564
drug_use_disorders               0.164564
tuberculosis                     0.164564
road_injuries                    0.164564
maternal_disorders               0.164564
lower_respiratory_infection      0.164564
neonatal_disorder                0.164564
alcohol_use_disorders            0.164564
force_of_nature                  0.164564
diarrheal                        0.164564
environmental_heat_cold          0.164564
nutritional_deficiencies         0.164564
self_harm                        0.164564
conflict_and_terrorism           0.164564
diabetes_mellitus                0.164564
poisoning                        0.164564
protein_energy_malnutrition      0.164564
terrorism                       59.023587
cardiovascular_diseases          0.164564
chronic_kidney_disease           0.164564
chronic_respiratory_deasease     0.164564
cirrohosis_liver_deasease        0.164564
digestive_disease                0.164564
acute_hepatitis                  0.164564
alzhimers_disease                0.164564
parkinsons_disease               0.164564
PopTotal                         0.000000
gdp-per-capita                  10.788078
dtype: float64

10 percent of data on gdp were missing

In [33]:
#continent data
cont = pd.read_excel('Book2.xlsx')



#renaming continent columns
cont.rename(columns = {'Country_Number':'code', 'continent_name':'continent'}, inplace = True)

#mergind continend data with main data
df_c = pd.merge(df,cont, how = 'left',on = ['code'])

Index(['country', 'code', 'year', 'number_of_executions', 'meningitis',
       'neoplasms', 'fire_heat_hot_substances', 'malaria', 'drowing',
       'interpersonal_violence', 'hiv_aids', 'drug_use_disorders',
       'tuberculosis', 'road_injuries', 'maternal_disorders',
       'lower_respiratory_infection', 'neonatal_disorder',
       'alcohol_use_disorders', 'force_of_nature', 'diarrheal',
       'environmental_heat_cold', 'nutritional_deficiencies', 'self_harm',
       'conflict_and_terrorism', 'diabetes_mellitus', 'poisoning',
       'protein_energy_malnutrition', 'terrorism', 'cardiovascular_diseases',
       'chronic_kidney_disease', 'chronic_respiratory_deasease',
       'cirrohosis_liver_deasease', 'digestive_disease', 'acute_hepatitis',
       'alzhimers_disease', 'parkinsons_disease', 'PopTotal', 'gdp-per-capita',
       'continent'],
      dtype='object')

In [34]:
df_c.head()

,country,code,year,number_of_executions,meningitis,neoplasms,fire_heat_hot_substances,malaria,drowing,interpersonal_violence,...,chronic_kidney_disease,chronic_respiratory_deasease,cirrohosis_liver_deasease,digestive_disease,acute_hepatitis,alzhimers_disease,parkinsons_disease,PopTotal,gdp-per-capita,continent
0,Afghanistan,AFG,2007,15,2932.558591,15924.782541,481.219817,392.942607,2126.788535,3657.205757,...,4490.174240,7221.773068,3345.814979,6457.753476,3437.0,1402.0,450.0,27100.542,1460.825751,Asia
1,Afghanistan,AFG,2008,17,2730.846137,16147.839026,462.180576,254.703403,1973.375893,3784.702895,...,4533.825139,7142.796656,3316.354776,6407.964590,3005.0,1424.0,455.0,27722.281,1484.114461,Asia
2,Afghanistan,AFG,2009,0,2460.186423,16382.558546,448.300264,239.035635,1852.155239,3874.099828,...,4596.974422,7045.249090,3291.158847,6358.027600,2663.0,1449.0,460.0,28394.806,1758.904477,Asia
3,Afghanistan,AFG,2011,2,2326.767573,17093.515668,447.884354,390.060248,1774.968476,4169.873038,...,4784.629776,6915.563606,3317.891662,6370.000383,2365.0,1508.0,473.0,30117.411,1904.559926,Asia
4,Afghanistan,AFG,2012,14,2254.492968,17521.930189,445.226412,93.894201,1715.864705,4244.671108,...,4845.667028,6877.511217,3352.846566,6398.171770,2264.0,1544.0,482.0,31161.378,2075.491614,Asia

In [39]:
## Merging continent on the data

In [40]:
#saving as csv
df_c.to_csv('all_combined_annual_death_by_cause.csv', index= False)

In [42]:
all_c_data = pd.read_csv('all_combined_annual_death_by_cause.csv')

all_c_data.head()

In [44]:
#dropping columns of death that is not caused by disease
all_c_data.drop(columns =['number_of_executions','terrorism'], inplace=True)

In [47]:
#there were missing data in all of digestive disease so we remove the missing data
all_c_data = all_c_data[~all_c_data['digestive_disease'].isnull()]

In [49]:
all_c_data.to_csv('all_combined_annual_death_by_cause.csv', index= False)

In [85]:
#loading cancer data
cancer_type = pd.read_csv('datasets/total-cancer-deaths-by-type.csv')
cancer_type.head()

,Entity,Code,Year,Deaths - Liver cancer - Sex: Both - Age: All Ages (Number),Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number),Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number),"Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)",Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number),Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number),...,Deaths - Brain and central nervous system cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-Hodgkin lymphoma - Sex: Both - Age: All Ages (Number),Deaths - Pancreatic cancer - Sex: Both - Age: All Ages (Number),Deaths - Esophageal cancer - Sex: Both - Age: All Ages (Number),Deaths - Testicular cancer - Sex: Both - Age: All Ages (Number),Deaths - Nasopharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Other pharynx cancer - Sex: Both - Age: All Ages (Number),Deaths - Colon and rectum cancer - Sex: Both - Age: All Ages (Number),Deaths - Non-melanoma skin cancer - Sex: Both - Age: All Ages (Number),Deaths - Mesothelioma - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,851,66,89,983,260,180,47,...,422,996,138,529,3,66,37,539,25,6
1,Afghanistan,AFG,1991,866,66,89,982,263,182,48,...,438,1010,137,535,4,67,37,542,26,7
2,Afghanistan,AFG,1992,890,68,91,989,268,185,51,...,472,1040,137,546,4,69,38,550,26,7
3,Afghanistan,AFG,1993,914,70,93,995,275,189,53,...,505,1062,139,560,5,72,39,555,27,7
4,Afghanistan,AFG,1994,933,71,94,996,282,193,54,...,526,1069,140,575,5,73,39,554,28,8

In [86]:
#renaming columns name
cancer_type.rename(columns = 
                  {
                      'Entity':'country', 'Code':'code', 'Year':'year',
       'Deaths - Liver cancer - Sex: Both - Age: All Ages (Number)':'liver_cancer',
       'Deaths - Kidney cancer - Sex: Both - Age: All Ages (Number)':'kidney_cancer',
       'Deaths - Lip and oral cavity cancer - Sex: Both - Age: All Ages (Number)':'lip_and_oral_cavity_cancer',
       'Deaths - Tracheal, bronchus, and lung cancer - Sex: Both - Age: All Ages (Number)':'lung',
       'Deaths - Larynx cancer - Sex: Both - Age: All Ages (Number)':'larynx',
       'Deaths - Gallbladder and biliary tract cancer - Sex: Both - Age: All Ages (Number)':'gallbladder_biliary',
       'Deaths - Malignant skin melanoma - Sex: Both - Age: All Ages (Number)':'malignant_skin',
       'Deaths - Leukemia - Sex: Both - Age: All Ages (Number)':'lukemia',
       'Deaths - Hodgkin lymphoma - Sex: Both - Age: All Ages (Number)':'hodgkin_lymphoma',
       'Deaths - Multiple myeloma - Sex: Both - Age: All Ages (Number)':'multiple_myeloma',
       'Deaths - Other neoplasms - Sex: Both - Age: All Ages (Number)':'other',
       'Deaths - Breast cancer - Sex: Both - Age: All Ages (Number)':'breast',
       'Deaths - Prostate cancer - Sex: Both - Age: All Ages (Number)':'prostate',
       'Deaths - Thyroid cancer - Sex: Both - Age: All Ages (Number)':'thyroid',
       'Deaths - Stomach cancer - Sex: Both - Age: All Ages (Number)':'stomach',
       'Deaths - Bladder cancer - Sex: Both - Age: All Ages (Number)':'bladder',
       'Deaths - Uterine cancer - Sex: Both - Age: All Ages (Number)':'uterine',
       'Deaths - Ovarian cancer - Sex: Both - Age: All Ages (Number)':'ovarian',
       'Deaths - Cervical cancer - Sex: Both - Age: All Ages (Number)':'cervical',
       'Deaths - Brain and central nervous system cancer - Sex: Both - Age: All Ages (Number)':'brain',
       'Deaths - Non-Hodgkin lymphoma - Sex: Both - Age: All Ages (Number)':'non_hodgkin_lymphoma',
       'Deaths - Pancreatic cancer - Sex: Both - Age: All Ages (Number)':'pancreatic',
       'Deaths - Esophageal cancer - Sex: Both - Age: All Ages (Number)':'esophageal',
       'Deaths - Testicular cancer - Sex: Both - Age: All Ages (Number)':'testicular',
       'Deaths - Nasopharynx cancer - Sex: Both - Age: All Ages (Number)':'nasopharynx',
       'Deaths - Other pharynx cancer - Sex: Both - Age: All Ages (Number)':'other_pharynx',
       'Deaths - Colon and rectum cancer - Sex: Both - Age: All Ages (Number)':'colon',
       'Deaths - Non-melanoma skin cancer - Sex: Both - Age: All Ages (Number)':'non_melanoma_skin',
       'Deaths - Mesothelioma - Sex: Both - Age: All Ages (Number)':'mesothelioma',
                      
                  }, inplace = True)

In [87]:
#dropping code columns
cancer_type.drop(columns = 'code', inplace = True)

#saving cancer data as csv
cancer_type.to_csv('cancer_type.csv', index = False)

In [88]:
df_c.columns

Index(['country', 'code', 'year', 'number_of_executions', 'meningitis',
       'neoplasms', 'fire_heat_hot_substances', 'malaria', 'drowing',
       'interpersonal_violence', 'hiv_aids', 'drug_use_disorders',
       'tuberculosis', 'road_injuries', 'maternal_disorders',
       'lower_respiratory_infection', 'neonatal_disorder',
       'alcohol_use_disorders', 'force_of_nature', 'diarrheal',
       'environmental_heat_cold', 'nutritional_deficiencies', 'self_harm',
       'conflict_and_terrorism', 'diabetes_mellitus', 'poisoning',
       'protein_energy_malnutrition', 'terrorism', 'cardiovascular_diseases',
       'chronic_kidney_disease', 'chronic_respiratory_deasease',
       'cirrohosis_liver_deasease', 'digestive_disease', 'acute_hepatitis',
       'alzhimers_disease', 'parkinsons_disease', 'PopTotal', 'gdp-per-capita',
       'continent'],
      dtype='object')

In [60]:
cc = ['meningitis',
       'neoplasms', 'fire_heat_hot_substances', 'malaria', 'drowing',
       'interpersonal_violence', 'hiv_aids', 'drug_use_disorders',
       'tuberculosis', 'road_injuries', 'maternal_disorders',
       'lower_respiratory_infection', 'neonatal_disorder',
       'alcohol_use_disorders', 'force_of_nature', 'diarrheal',
       'environmental_heat_cold', 'nutritional_deficiencies', 'self_harm',
       'conflict_and_terrorism', 'diabetes_mellitus', 'poisoning',
       'protein_energy_malnutrition', 'terrorism', 'cardiovascular_diseases',
       'chronic_kidney_disease', 'chronic_respiratory_deasease',
       'cirrohosis_liver_deasease', 'digestive_disease', 'acute_hepatitis',
       'alzhimers_disease', 'parkinsons_disease', 'gdp-per-capita']

,meningitis,neoplasms,fire_heat_hot_substances,malaria,drowing,interpersonal_violence,hiv_aids,drug_use_disorders,tuberculosis,road_injuries,...,terrorism,cardiovascular_diseases,chronic_kidney_disease,chronic_respiratory_deasease,cirrohosis_liver_deasease,digestive_disease,acute_hepatitis,alzhimers_disease,parkinsons_disease,gdp-per-capita
0,2932.558591,15924.782541,481.219817,392.942607,2126.788535,3657.205757,148.276329,251.830065,4995.103369,7425.071926,...,1199.0,53962.251859,4490.174240,7221.773068,3345.814979,6457.753476,3437.0,1402.0,450.0,1460.825751
1,2730.846137,16147.839026,462.180576,254.703403,1973.375893,3784.702895,157.401135,261.391617,4789.722282,7354.749003,...,1092.0,54050.644196,4533.825139,7142.796656,3316.354776,6407.964590,3005.0,1424.0,455.0,1484.114461
2,2460.186423,16382.558546,448.300264,239.035635,1852.155239,3874.099828,167.270695,269.845287,4578.915137,7290.468621,...,1065.0,53964.195557,4596.974422,7045.249090,3291.158847,6358.027600,2663.0,1449.0,460.0,1758.904477
3,2326.767573,17093.515668,447.884354,390.060248,1774.968476,4169.873038,183.816343,292.312638,4258.825531,7432.300560,...,1525.0,54347.266593,4784.629776,6915.563606,3317.891662,6370.000383,2365.0,1508.0,473.0,1904.559926
4,2254.492968,17521.930189,445.226412,93.894201,1715.864705,4244.671108,190.525008,304.570153,4121.942028,7494.351481,...,3521.0,54868.120368,4845.667028,6877.511217,3352.846566,6398.171770,2264.0,1544.0,482.0,2075.491614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5464,1438.676761,11161.386422,632.349622,2517.901527,769.587871,1302.008154,29161.730985,103.775228,11213.954856,2372.593805,...,NaN,16649.456872,2107.942765,2750.515581,1956.229759,4201.907591,146.0,754.0,215.0,3198.982129
5465,1457.360801,11464.883288,648.435308,2050.099318,801.263047,1342.122199,27140.790944,109.677478,10998.488251,2435.995792,...,NaN,16937.071816,2159.865077,2788.121829,1962.216766,4264.086006,146.0,767.0,219.0,3173.610829
5466,1459.529824,11743.672939,653.854499,2116.295646,818.357585,1363.089990,24846.237930,115.304607,10762.490965,2473.357996,...,0.0,17187.336508,2196.023891,2818.465694,2006.820501,4342.108263,144.0,781.0,223.0,3274.611198
5467,1449.851578,12037.819441,657.215472,2088.361260,824.663639,1395.971181,22106.464437,121.004527,10544.745280,2509.425290,...,NaN,17460.197354,2240.368531,2849.100567,2030.176048,4376.555991,139.0,795.0,227.0,3341.665418
5468,1450.049724,12352.632022,661.997695,2068.185673,827.056395,1433.595414,20722.240154,127.073539,10465.151975,2553.770709,...,NaN,17810.044243,2292.252230,2891.114470,2065.062732,4437.164889,136.0,812.0,232.0,3027.656038

In [75]:
ddd = df_c.copy()

In [72]:
ddd.meningitis = ddd.meningitis/ddd.PopTotal

In [76]:
for i in ddd[cc]:
    ddd[i] = ddd[i]/ddd.PopTotal

In [77]:
ddd.head()

,country,code,year,number_of_executions,meningitis,neoplasms,fire_heat_hot_substances,malaria,drowing,interpersonal_violence,...,chronic_kidney_disease,chronic_respiratory_deasease,cirrohosis_liver_deasease,digestive_disease,acute_hepatitis,alzhimers_disease,parkinsons_disease,PopTotal,gdp-per-capita,continent
0,Afghanistan,AFG,2007,15,0.108210,0.587619,0.017757,0.014499,0.078478,0.134950,...,0.165686,0.266481,0.123459,0.238289,0.126824,0.051733,0.016605,27100.542,0.053904,Asia
1,Afghanistan,AFG,2008,17,0.098507,0.582486,0.016672,0.009188,0.071184,0.136522,...,0.163544,0.257655,0.119628,0.231149,0.108397,0.051367,0.016413,27722.281,0.053535,Asia
2,Afghanistan,AFG,2009,0,0.086642,0.576956,0.015788,0.008418,0.065229,0.136437,...,0.161895,0.248118,0.115907,0.223915,0.093785,0.051030,0.016200,28394.806,0.061945,Asia
3,Afghanistan,AFG,2011,2,0.077257,0.567563,0.014871,0.012951,0.058935,0.138454,...,0.158866,0.229620,0.110165,0.211506,0.078526,0.050071,0.015705,30117.411,0.063238,Asia
4,Afghanistan,AFG,2012,14,0.072349,0.562296,0.014288,0.003013,0.055064,0.136216,...,0.155502,0.220706,0.107596,0.205324,0.072654,0.049549,0.015468,31161.378,0.066605,Asia

In [78]:
ddd.to_csv('datasets/cluster_scraped.csv', index = False)

In [89]:
canc = pd.read_csv('cancer_type.csv')

In [91]:
canc.columns

Index(['country', 'year', 'liver_cancer', 'kidney_cancer',
       'lip_and_oral_cavity_cancer', 'lung', 'larynx', 'gallbladder_biliary',
       'malignant_skin', 'lukemia', 'hodgkin_lymphoma', 'multiple_myeloma',
       'other', 'breast', 'prostate', 'thyroid', 'stomach', 'bladder',
       'uterine', 'ovarian', 'cervical', 'brain', 'non_hodgkin_lymphoma',
       'pancreatic', 'esophageal', 'testicular', 'nasopharynx',
       'other_pharynx', 'colon', 'non_melanoma_skin', 'mesothelioma'],
      dtype='object')